In [1]:
import sys
import os
import pandas as pd
#Ensure Python can find the Code directory
sys.path.append(os.path.abspath(".."))

import utils

In [2]:
#Use functions and packages
df = utils.load_data()
df.head()

,activity_year,census_tract,derived_race,action_taken,loan_amount,property_value,income,interest_rate,tract_minority_population_percent,tract_to_msa_income_percentage,denial_reason-1,covenant_count,was_approved,covenant_density
0,2023,2.703706e+10,Race Not Available,6,185000.0,195000.0,NaN,6.125,40.37,73.48,10,0.0,False,NaN
1,2023,2.714103e+10,Race Not Available,6,375000.0,385000.0,NaN,6.625,10.64,121.26,10,0.0,False,NaN
2,2023,2.702395e+10,Race Not Available,6,105000.0,105000.0,NaN,6.125,8.92,90.13,10,0.0,False,NaN
3,2023,2.717110e+10,Race Not Available,6,285000.0,285000.0,NaN,6.750,13.27,104.37,10,0.0,False,NaN
4,2023,2.715948e+10,Race Not Available,6,175000.0,175000.0,NaN,6.875,5.87,82.22,10,0.0,False,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100931 entries, 0 to 100930
Data columns (total 14 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   activity_year                      100931 non-null  int64
 1   census_tract                       99915 non-null   float64
 2   derived_race                       100931 non-null  object
 3   action_taken                       100931 non-null  int64
 4   loan_amount                        100931 non-null  float64
 5   property_value                     83491 non-null   float64
 6   income                             88200 non-null   float64
 7   interest_rate                      78125 non-null   float64
 8   tract_minority_population_percent  100931 non-null  float64
 9   tract_to_msa_income_percentage     100931 non-null  float64
 10  denial_reason-1                    100931 non-null  int64
 11  covenant_count                     100931 non-null  float64
 12  was_approved                       100931 non-null  bool
 13  covenant_density                   11169 non-null   object
dtypes: bool(1), float64(8), int64(3), object(2)
memory usage: 10.1+ MB

### Predictive Modeling - Based on Hennepin County dataset

In [ ]:
#Split the data into training and test sets
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size=0.3, random_state=42)

#### Logistic Regression

#### Decision Tree

#### Support Vector Machine

#### Analysis and Comparison of Model Performance

### Predictive Modeling - Applying the models to Ramsey County dataset